body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 25vh 60vh 10vh;
margin: 0;
}